.threads-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    font-family: var(--font-regular);
    letter-spacing: 0.5px;
    background-color: var(--bg-light-color);
    min-width: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.threads-content {
    flex-grow: 1;
    padding: 30px 20px 0px 20px;
    margin-bottom: 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: none;
    min-width: 0;
    position: relative;
    box-sizing: border-box;
}

.connection-status {
    position: absolute;
    top: 8px;
    width: 80%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.connection-status .icon {
    width: 18px;
    height: 18px;
    display: none;
}

.connection-status .icon.disconnected.active {
    fill: red;
    display: block;
}

.connection-status .icon.connected.active {
    fill: var(--blue-light-color);
    display: block;
}

.connection-status .status-text {
    font-size: 12px;
    font-family: var(--font-regular);
    color: var(--grey-medium-color);
    letter-spacing: 0.7px;
}

.connection-status .connect-button {
    display: none;
}

.connection-status .connect-button.active {
    display: block;
    background-color: var(--blue-light-color);
    color: white;
    border: none;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: var(--font-bold);
    letter-spacing: 0.5px;
    cursor: pointer;
}

.messages {
    flex-grow: 1;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    gap: 8px;
}

.message.sender {
    flex-direction: row;
    margin-left: auto;
    justify-content: flex-end;
}

.message.receiver {
    flex-direction: row;
    margin-right: auto;
}

.avatar {
    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
}

.avatar img {
    width: 77%;
    height: 77%;
    object-fit: cover;
    align-self: flex-start;
}

.avatar.input-avatar {
    width: 28px;
    height: 28px;
}

.avatar .circle-wrapper.message-initials {
    width: 34px;
    height: 34px;
}

.message-bubble {
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 45%;
    word-break: break-word;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07);
    margin: 0 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.message-input {
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--bg-light-color);
}

.message-input .floating-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 25px;
    width: 70%;
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.message-input .floating-wrapper.actions {
    width: 100px;
}

.floating-wrapper .icon {
    width: 22px;
    height: 22px;
}

.floating-wrapper .icon.first {
    fill: var(--blue-light-color);
}

.message-input .floating-wrapper input {
    flex-grow: 1;
    outline: none;
    border: none;
    font-size: 14px;
}

.message-input button {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: var(--blue-light-color);
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    font-family: var(--font-bold);
}

.message-input button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
