.data-source-row td {
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
  white-space: nowrap;
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display ellipsis for overflow content */
  z-index: auto;
  max-width: 120px; /* Set a maximum width for each cell */
}

.data-source-row {
  background-color: white;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-sizing: border-box;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05);
  font-family: var(--font-reg);
  color: var(--grey-dark-color);
  font-size: 14px;
  z-index: 1; /* Ensure parent elements don’t create unnecessary stacking contexts */
  overflow: visible; /* Allow the dropdown to overflow outside */
}
  
.data-source-row:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Higher z-index on hover to ensure the dropdown and row come to the front */
}

.data-source-row td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.data-source-row td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.data-source-row input[type="checkbox"] {
  margin-right: 10px;
}

.data-source-row .datasource-type {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.data-source-row .datasource-type img {
  width: 18px;
  margin-right: 5px;
}

.data-source-row .datasource-type p {
  margin: 0px;
  padding: 0px;
}

.data-source-row .cust-name {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.data-source-row .cust-email {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-source-row .received {
  color: var(--teal-light-color);
  font-family: var(--font-bold);
}

.data-source-row .shared {
  color: var(--purple-color);
  font-family: var(--font-bold);
}

.data-source-row .partners {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-source-row .user-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0px;
  position: relative; /* Ensure positioning context for z-index */
  opacity: 0.8;
}

.data-source-row .user-container .user-initials {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.data-source-row .user-container .user-initials:not(:first-child) {
  margin-left: -15px;
  z-index: 1;
}

.data-source-row .user-container h4 {
  font-family: var(--font-light);
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  align-self: center;
  margin-left: 8px;
  cursor: pointer;
}

.data-source-row .status-container {
  display: flex;
  align-items: center;
}

.data-source-row .status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(30, 165, 30);
  margin-right: 5px; /* Add some space between the dot and the text */
}

.data-source-row .status-indicator.pending {
  background-color: var(--purple-color);
}