.login-container {
  display: flex;
  flex: 1;
  align-items: stretch;
  font-family: var(--font-regular);
  letter-spacing: 0.5px;
}

.login-container .left-side {
  position: relative;
  flex: 1;
  background-color: var(--grey-dark-color);
  display: flex;
  color: var(--grey-dark-color);
  overflow: hidden;
  box-sizing: border-box;
}

.login-container .left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 35px;
  text-align: center;
  color: var(--grey-dark-color);
  background-color: transparent;
  z-index: 10;
}


.login-container .left-side .vairo-logo {
  width: 40%;
  object-fit: contain;
}

.login-container .left-side h1 {
  font-size: clamp(28px, 2.5vw, 45px);
  margin-bottom: 5px;
  font-family: var(--font-bold);
  width: 100%;
  color: var(--bg-light-color);
}

.login-container .left-side p {
  font-size: clamp(15px, 1.2vw, 22px);
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: var(--font-regular);
  width: 100%;
  color: var(--bg-light-color);
}

.login-container .left-side hr {
  width: 50%;
  border: 1px solid white;
  margin: 20px 0;
}

.login-container .left-side h2 {
  font-size: clamp(20px, 1.8vw, 40px);
  margin-bottom: 20px;
  font-family: var(--font-bold);
}

.login-container .left-side .product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  opacity: 10%;
}

.login-container .login-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 10%;
}

.login-container .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login-container .right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  max-width: 30vw;
}

.login-container .right-side h2 {
  font-size: clamp(20px, 1.8vw, 40px);
  color: var(--blue-light-color);
  margin-bottom: 3.0vh;
  font-family: var(--font-bold);
}

.login-container .right-side .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-container .right-side .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--blue-light-color);
}

.login-container .right-side p {
  font-size: clamp(12px, 1.2vw, 20px);
  color: #777;
  margin-bottom: 4vh;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-regular);

}

.login-container .input-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4vh;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1.5px solid #dddddd;
  gap: 5px;
}

.login-container .input-wrapper.workspace {
  border-radius: 10px;
  padding: 4px 5px;
  background-color: var(--bg-light-color);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
  border: none;
}

.login-container .input-wrapper .email-icon {
  width: 20px;
  height: 20px;
  fill: #aaaaaa;
}

.login-container .email-input {
  width: 100%;
  padding: 5px;
  border: 0px;
  font-size: clamp(12px, 1.2vw, 20px);
  box-sizing: border-box;
  font-family: var(--font-light);
  color: var(--grey-dark-color);
  outline: none; /* Removes default browser focus border */
  background-color: transparent;
}

.login-container .email-input:focus {
  border: none;
}

.login-container .submit-btn {
  width: 75%;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--blue-light-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: clamp(12px, 1.2vw, 20px);
  font-family: var(--font-bold);
  cursor: pointer;
}

.login-container .submit-btn:hover {
  background-color: var(--blue-medium-color);
}

.login-container .error-message {
  color: red;
  margin-top: 10px;
  font-family: var(--font-light);
}

.login-container .toggle-auth-mode {
  background: none;
  border: none;
  color: var(--blue-light-color);
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 15px;
  display: block;
}

.login-container .toggle-auth-mode:hover {
  color: var(--blue-medium-color);
}

.login-container .support-text {
  margin-top: 40px;
  color: #777;
  font-size: clamp(8px, 1vw, 16px) !important;
}


@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-container .left-side {
    background-color: var(--background-color);
    color: #777;
  }

  .login-container .left-content {
    padding: 7%;
    padding-bottom: 0;
  }

  .login-container .left-side h1 {
    color: #4e4e4e;
  }

  .login-container .left-side hr {
    border: 1px solid #777;
    opacity: 30%;
    width: 100%;
    margin-bottom: 0;
  }

  .login-container .vairo-logo {
    width: 50%;
    filter: brightness(1) invert(0);
  }

  .login-container .left-content h2 {
    display: none;
  }

  .login-container .left-content .sub-p {
    display: none;
  }

  .login-container .login-background {
    display: none;
  }

  .login-container .right-content hr {
    display: none;
  }

}