.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .code-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .code-input:focus {
    border-color: var(--blue-light-color);
    box-shadow: 0 0 5px rgba(105, 132, 232, 0.5);
  }

  