.ProductMenu {
    flex-basis: 210px;
    min-width: 210px;
    max-width: 210px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.ProductMenu ul {
    list-style: none;
    padding: 0;
    margin: 20px 15px;
}
  
.ProductMenu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
    padding: 8px 8px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.ProductMenu li .menu-item-link {
    width: 100%;
}

.sub-menu-content li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
    padding: 8px 8px;
    margin-bottom: 5px;
    border-radius: 0px;
}

.ProductMenu li a,
.sub-menu-content li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    text-align: center;
    gap: 10px;
}

.menu-icon,
.sub-menu-content .menu-icon {
    width: 18px;
    height: 18px;
    fill: var(--grey-medium-color);
}

.menu-label,
.sub-menu-content .menu-label {
    margin: 0;
    color: var(--grey-medium-color);
    font-family: var(--font-regular);
    letter-spacing: 0.5px;
    font-size: 13px;
}

.menu-item.active {
    font-family: var(--font-bold);
    color: var(--grey-dark-color);
    background-color: var(--bg-light-color);
}

.menu-label.active {
    font-family: var(--font-bold);
    color: var(--grey-dark-color);
}

.menu-item:nth-child(1) .menu-icon {
    fill: var(--grey-dark-color);
}

.menu-item:nth-child(2) .menu-icon {
    fill: var(--blue-medium-color);
}

.menu-item:nth-child(3) .menu-icon {
    fill: var(--blue-light-color);
}

.menu-item:nth-child(4) .menu-icon {
    fill: var(--purple-color);
}

.ProductMenu hr {
    border: none;
    border-top: 1px solid var(--grey-medium-color);
    margin: 0 20px;
}

.sub-menu-container {
    margin: 20px;
}

.sub-menu-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
    padding: 6px 6px;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: var(--grey-dark-color);
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}

.sub-menu-button .add-label {
    color: var(--grey-light-color);
    font-family: var(--font-bold);
    font-size: 13px;
    margin: 0;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.sub-menu-button .add-icon {
    fill: var(--grey-light-color);
    width: 18px;
    height: 18px;
}

.sub-menu-content {
    margin-top: 20px;
}

.sub-menu-content ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
    gap: 0px;
}

.sub-menu-content li {
    padding: 6px 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

.sub-menu-content li a {
    text-align: left;
    width: calc(100% - 20px);
    padding-left: 12px;
    margin: 0;
}

.sub-menu-content .menu-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.sub-menu-content .menu-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    border-radius: 1px;
    height: 100%;
    background-color: var(--grey-light-color);
}

.sub-menu-content .horiz-line {
    display: none;
}

.sub-menu-content .horiz-line-active {
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    width: 5px;
    border-radius: 1px;
    height: 1px;
    background-color: var(--grey-light-color);
}

.sub-menu-content li:last-child .menu-line {
    height: 50%;
}

.sub-menu-content .content-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 6px;
    margin-bottom: 0px;
    border-radius: 7px;
}

.sub-menu-content .content-title .title-label {
    color: var(--grey-dark-color);
    font-family: var(--font-bold);
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.sub-menu-content .content-title .title-icon {
    fill: var(--grey-dark-color);
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sub-menu-content .thread-icons {
    gap: 5px;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    display: flex;
    right: 0px;
    background-color: white;
}

.sub-menu-content li:hover .thread-icons {
    opacity: 1;
}

.sub-menu-content .edit-icon,
.sub-menu-content .delete-icon {
    width: 16px;
    height: 16px;
    fill: var(--grey-medium-color);
    cursor: pointer;
    transition: fill 0.2s;
}

.sub-menu-content .edit-icon:hover,
.sub-menu-content .delete-icon:hover {
    fill: var(--grey-dark-color);
}


@media (max-width: 768px) {
    .ProductMenu {
        order: 2;
        border-radius: 0;
        background-color: white;
        border-top: 1px solid lightgray;
        position: sticky;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        height: 100px;
    }

    .ProductMenu ul {
        display: flex;
        justify-content: center;
        gap: 15%;
        margin-bottom: 25px;
    }

    .sub-menu-content .menu-label.active {
        color: var(--teal-medium-color);
    }

    .sub-menu-content .menu-icon {
        fill: grey;
    }

    .sub-menu-content .menu-icon.active {
        fill: var(--teal-medium-color);
    }
}
  

