@import 'katex/dist/katex.min.css';

.message-bubble table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
  }
  
  .message-bubble table th,
  .message-bubble table td {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  .message-bubble table th {
    background-color: #f2f2f2;
    text-align: left;
  }  

.message-bubble .katex {
    max-width: 100%;
    overflow-x: auto;
    padding: 14px 10px;
    font-size: 12px;
    font-family: var(--font-light);
    background-color: var(--bg-light-color);
    border-radius: 8px;
}

.message-bubble .katex::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
}

.message-bubble .katex::-webkit-scrollbar-thumb {
    background-color: var(--bg-light-color); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.message-bubble {
    /* Existing styles */
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  
  .message-bubble h1,
  .message-bubble h2,
  .message-bubble h3,
  .message-bubble h4,
  .message-bubble h5,
  .message-bubble h6 {
    margin: 0;
  }
  
  .message-bubble p {
    margin: 10px 0px;
  }

  .message-bubble p:first-child {
    margin-top: 0px;
  }

  .message-bubble p:last-child {
    margin-bottom: 0px;
  }
  
  .message-bubble ul,
  .message-bubble ol {
    margin: 5px 5px;
    padding-left: 20px;
  }

  .message-bubble li {
    margin: 5px 0px;
  }
  
  .message-bubble code {
    background-color: #f5f5f5;
    padding: 2px 4px;
    font-family: monospace;
    border-radius: 4px;
  }
  
  .message-bubble pre {
    background-color: transparent;
    padding: 0px;
    overflow-x: auto;
    border-radius: 4px;
  }
  
  .message-bubble blockquote {
    border-left: 4px solid #ddd;
    margin: 0;
    padding-left: 10px;
    color: #555;
  }
