.how-it-works {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: var(--font-regular);
    background-color: var(--grey-light-color);
    position: relative;
    z-index: -2;
  }

  .how-it-works .illustration {
    position: absolute;
    box-sizing: border-box;
    opacity: 2.5%;
    background-color: transparent;
    z-index: -1;
  }

  .how-it-works .content-sections .section .illustration.design-one {
    top: -23vw;
    left: -23vw;
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    border: 15vw solid var(--grey-light-color);

  }

  .how-it-works .content-sections .section .illustration.design-two {
    top: 0vw;
    right: -20px;
    height: 32vw;
    width: 32vw;
    border-radius: 16vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 10vw solid var(--grey-light-color);
    border-right: none;
  }

  .how-it-works .content-sections .section .illustration.design-three {
    top: 0vw;
    left: -15vw;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: var(--grey-light-color);;
  }
  
  .how-it-works h1 {
    color: var(--grey-light-color);
    font-family: var(--font-extraBold);
    font-size: var(--font-size-l);
    text-align: center;
  }
  
  .content-sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0 10px;
    position: relative;
    margin-bottom: 30px;
  }
  
  .content-sections .section {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .section .text-content {
    flex: 1;
    margin: 20px;
    margin-bottom: 0;
    position: relative;
  }

  .section .text-content h2 {
    color: lightgray;
    font-family: var(--font-extraBold);
    font-size: clamp(15px, 1.5vw, 30px);
    margin: 0;

  }

  .section .text-content h3 {
    color: var(--grey-medium-color);
    font-family: var(--font-extraBold);
    font-size: clamp(30px, 2.0vw, 50px);;
    margin: 0;
  }

  .section .text-content p {
    font-size: clamp(15px, 1.5vw, 25px);
    margin-top: 5px;
    margin-bottom: 0;

  }

  .section .text-content .text {
    position: relative;
    z-index: 4;
  }
  
  .section .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    object-fit: cover;
  }
  
  .content-sections .image-content img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .section .image-content #referral {
    width: 85%;
  }
  
  .content-sections .circle {
    position: sticky;
    top: calc(50vh - 15px);
    left: calc(50% - 16px);
    width: 25px;
    height: 25px;
    transform: rotate(45deg); /* Rotate to create a diamond shape */
    border-radius: 10px;
    border: 4px solid var(--grey-light-color);
    box-sizing:content-box;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    color: white;
    font-family: var(--font-extraBold);
    z-index: 1;
  }

  .circle .number {
    transform: rotate(-45deg);
  }
  
  .content-sections .circle.active {
    background-color: var(--grey-medium-color);
  }

  .dynamic-line-container {
    position: absolute;
    top: 20px;
    left: calc(50% - 2px);
    width: 6px;
    height: calc(100% - 40px);
    border-radius: 2px;
  }

  .content-sections .line {
    position: absolute;
    top: 0px;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background-color: #ddd;
  }
  
  .dynamic-line {
    position: absolute;
    left: 50%; /* Center the line horizontally */
    top: 0; /* Start the line from the center of the screen */
    left: calc(50% - 2px);
    width: 4px; /* Width of the line */
    background-color: var(--grey-medium-color); /* Adjust color as needed */
    border-radius: 2px;

  }
  
  @media (max-width: 768px) {
    .content-sections .section {
      flex-direction: column;
    }

    .dynamic-line-container {
      visibility: hidden;
    }

    .content-sections .circle {
      visibility: hidden;
    }

    .section .one {
      order: 1;
    }

    .section .two {
      order: 2;
    }

    .section .image-content {
      margin: 20px;
      margin-bottom: 0px;
    }

    .how-it-works {
      padding-bottom: 0;
      overflow: hidden;
    }
}