
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  background-color: white;
}

.product-main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  padding: 0px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .product-main {
    flex-direction: column;
  }
}


