.resources-wrapper {
    display: flex;
    flex-grow: 1;
    border-radius: 8px;
}

.resources-content {
    flex-grow: 1;
    background-color: var(--bg-light-color);
    padding: 0 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: var(--grey-medium-color);
    font-family: var(--font-bold);
}