.product-header {
  background-color: white;
  position: relative;
  height: 45px;
}

.product-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: transparent;
    padding: 0 10px;
}

.product-header .logo img {
    height: clamp(30px, 2vw, 38px);
    margin-left: 10px;
    margin-top: 5px;
}

.product-header .profile-button {
    display: flex;
    align-items: center;
    gap: 0px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product-header .profile-button h3 {
    color: var(--grey-medium-color);
    font-family: var(--font-bold);
    font-size: 14px;
    margin-left: 10px;
}

.product-header .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;  
}

.product-header .header-icon-button,
.product-header .header-button {
    fill: var(--grey-medium-color);
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.product-header .header-icon-button:hover {
    fill: var(--grey-light-color);
}

.product-header .alerts {
    display: flex;
    align-items: center;
    position: relative;
}

.product-header .alerts-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    background-color: plum;
    border-radius: 50%;
    padding: 5px 5px;
    color: white;
    font-family: var(--font-bold);
    font-size: 10px;
    z-index: 10;
    width: 5px;
    height: 5px;
}

.product-header .profile-button:hover .header-button,
.product-header .profile-button:hover h3 {
    fill: var(--grey-light-color);
    color: var(--grey-light-color);
}

.product-header .header-divider {
    color: var(--grey-medium-color);
    font-size: 22px;
}

.search-bar-container {
    flex: none;
    position: absolute;
    left: 220px;
  }

  .search-bar {
    width: 30vw;
    padding: 6px 12px;
    background-color: var(--bg-light-color); 
    color: var(--grey-dark-color);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    font-family: var(--font-light);
    box-sizing: border-box;
    letter-spacing: 0.5px;
    border: none;
  }
  
  .search-bar::placeholder {
    color: var(--grey-medium-color); 
  }
  
  .search-bar:focus {
    width: 40vw;
    color: var(--grey-dark-color);
  }

  .product-header .user-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    gap: 10px;
    top: 40px;
    right: 10px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 5px;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-regular);
    color: var(--grey-dark-color);
    letter-spacing: 0.5px;
  }

  .product-header .circle-wrapper.header-initials {
    width: 32px;
    height: 32px;
  }

  .product-header .circle-wrapper.profile-initials {
    width: 40px;
    height: 40px;
  }

  .product-header .user-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 5px;
    margin-top: 4px;
  }

  .product-header .user-profile-details h3 {
    margin: 1px 0;
    padding: 0;
    line-height: 12px;
  }

  .product-header .user-profile-details .user-name {
    font-family: var(--font-bold);
    font-size: 14px;
  }

  .product-header .user-profile-details .user-email {
    font-family: var(--font-light);
    color: var(--grey-medium-color);
    font-size: 12px;
  }

  .product-header .user-profile-details .user-business-name {
    font-family: var(--font-bold);
    color: var(--purple-color);
    font-size: 12px;
  }

  .product-header .user-profile-details hr {
    margin: 10px 0;
    background-color: var(--grey-light-color);
    border: none;
    height: 0.5px;
  }

  .product-header .user-profile-details .logout-button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
  }

  .product-header .user-profile-details .logout-button .logout-icon {
    width: 16px;
    height: 16px;
    fill: var(--grey-medium-color);
  }

  .product-header .user-profile-details .logout-button h3 {
    font-size: 11px;
    color: var(--grey-medium-color);
  }



@media (max-width: 768px) {
  .product-header .search-bar,
  .product-header .profile-button h3 {
    display: none;
  }
}
  