.product-header {
  background-color: white;
  position: relative;
  height: 45px;
}

.product-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: transparent;
    padding: 0 10px;
}

.product-header .logo img {
    height: clamp(30px, 2vw, 38px);
    margin-left: 10px;
    margin-top: 5px;
}

.product-header .profile-button {
    display: flex;
    align-items: center;
    gap: 0px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.product-header .profile-button h3 {
    color: var(--grey-medium-color);
    font-family: var(--font-bold);
    font-size: 14px;
    margin-left: 10px;
}

.product-header .button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;  
}

.product-header .header-icon-button,
.product-header .header-button {
    fill: var(--grey-medium-color);
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.product-header .header-icon-button:hover {
    fill: var(--grey-light-color);
}

.product-header .alerts {
    display: flex;
    align-items: center;
    position: relative;
}

.product-header .alerts-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    background-color: plum;
    border-radius: 50%;
    padding: 5px 5px;
    color: white;
    font-family: var(--font-bold);
    font-size: 10px;
    z-index: 10;
    width: 5px;
    height: 5px;
}

.product-header .profile-button:hover .header-button,
.product-header .profile-button:hover h3 {
    fill: var(--grey-light-color);
    color: var(--grey-light-color);
}

.product-header .header-divider {
    color: var(--grey-medium-color);
    font-size: 22px;
}

.search-bar-container {
    flex: none;
    position: absolute;
    left: 220px;
  }

  .search-bar {
    width: 30vw;
    padding: 6px 12px;
    background-color: var(--bg-light-color); 
    color: var(--grey-dark-color);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    font-family: var(--font-light);
    box-sizing: border-box;
    letter-spacing: 0.5px;
    border: none;
  }
  
  .search-bar::placeholder {
    color: var(--grey-medium-color); 
  }
  
  .search-bar:focus {
    width: 40vw;
    color: var(--grey-dark-color);
  }

  .product-header .circle-wrapper.header-initials {
    width: 32px;
    height: 32px;
  }

  .product-header .circle-wrapper.header-initials:hover {
    background-color: var(--blue-light-color);
  }

  .product-header .header-initials p {
    font-size: 12px;
  }

  .product-header .profile-button:hover .circle-wrapper.header-initials {
    opacity: 0.8;
  }


@media (max-width: 768px) {
  .product-header .search-bar,
  .product-header .profile-button h3 {
    display: none;
  }
}
  