.postgres-form {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    min-width: 700px;
}

.postgres-form .side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    background-color: transparent;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
}

.postgres-form .side .form-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 5px 10px 5px 5px;
}

.postgres-form .side .form-group label {
    font-family: var(--font-bold);
    letter-spacing: 0.5px;
    font-size: 12px;
    color: var(--grey-light-color);
    padding-left: 0px;
}

.postgres-form .side .form-group input {
    font-family: var(--font-regular);
    color: var(--grey-dark-color);
    letter-spacing: 0.5px;
    font-size: 12px;
    padding: 6px;
    padding-left: 0px;
    margin: 0 0px;
    border: none;
    border-bottom: 1px solid var(--grey-light-color);
    background-color: transparent;
}

.postgres-form .side .form-group input::placeholder {
    color: var(--grey-medium-color);
}

.postgres-form .side .form-group input:focus {
    outline: none;
    box-shadow: none;
    border-bottom-color: var(--grey-light-color);
}

.postgres-form .side .form-group input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: var(--grey-dark-color);
}

/* Responsive */
@media (max-width: 780px) {
    .postgres-form {
        flex-direction: column;
        min-width: 100%;
    }
}
